.svg-paint {
  width: 100vw;
  height: 100vh;
  background-Image: url(http://zhongguose.com/img/texture.png);
  transition: background-color 1s ease-in;
  background-color: #fffef9;
  position:fixed;
  left: 0;
  right: 0;
  animation:toright 1s linear 0s;
}
.text-input {
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  border: 1px dotted #ccc;
  border-radius: 5px;
  padding-left: 2px;
  outline: none;
  color: transparent;
}
.text {
  user-select: none;
}
.svgPage {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 100;
}
.svgImg {
  cursor: pointer;
}

.changeBox {
  position: fixed;
  z-index: 3;
  background-color: rgba(32, 132, 181, 0.08);
  border:1px rgb(32, 132, 181) solid;
  cursor: move;  
}

.left-top {
  width: 10px;
  height: 10px;
  position: absolute;
  left: -6px;
  top: -6px;
  border-radius: 50%;
  cursor: nwse-resize;
}

.left-bottom {
  width: 10px;
  height: 10px;
  position: absolute;
  left: -6px;
  bottom: -6px;
  border-radius: 50%;
  cursor: nesw-resize;
}

.right-top {
  width: 10px;
  height: 10px;
  position: absolute;
  right: -6px;
  top: -6px;
  border-radius: 50%;
  cursor: nesw-resize;
}

.right-bottom {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -6px;
  bottom: -6px;
  border-radius: 50%;
  cursor: nwse-resize;
}

.center-top {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -4px;
  border-radius: 50%;
  cursor: pointer;
}
