/* 牡丹粉红 */
.mdhf {
    background-color: #eea2a4;
  }
  /* 牵牛花蓝 */
  .qnhl {
    background-color: #1177b0;
  }
  /* 茶花红 */
  .chh {
    background-color: #ee3f4d;
  }
  /* 藏花红 */
  .zhh {
    background-color: #ec2d7a;
  }
  /* 槐花黄绿 */
  .hhhl {
    background-color: #d2d97a;
  }
  /* 芥花紫 */
  .jhz {
    background-color: #983680;
  }
  /* 油菜花黄 */
  .ychh {
    background-color: #fbda41;
  }
  /* hhb */
  .hhb {
    background-color: #fbecde;
  }
  /* 金莲花橙 */
  .jlhc {
    background-color: #f86b1d;
  }
  /* 玫瑰灰 */
  .mgh {
    background-color: #4b2e2b;
  }
  /* 莽丛绿 */
  .mcl {
    background-color: #141e1b;
  }
  /* 雪白 */
  .xb {
    background-color: #fffef9;
  }
  