.choice-bar {
  position: fixed;
  left: 0;
  top: 80px;
  width: 60px;
  height: 80vh;
  background-color: rgba(25, 48, 21, 0.05);
  border-radius:0 10px 10px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  transition: 0.8s;
  z-index: 99;
}
.choice-bar::-webkit-scrollbar {
  display: none
}

.icons {
  font-size: 15px;
  color: red;
  background-color: bisque;
  padding: 8px;
  border-radius: 50%;
  border: 3px white solid;
  margin: 15px;
  flex: 0
}
