.tool-bar {
  position: fixed;
  top: 0;
  left: 18%;
  height: 60px;
  width: 64vw;
  background-color: rgba(25, 48, 21, 0.05);
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  transition: 0.8s;
  z-index: 99;
}
.tool-bar::-webkit-scrollbar {
  display: none
}
.icons {
  font-size: 15px;
  color: red;
  background-color: bisque;
  padding: 8px;
  border-radius: 50%;
  border: 3px white solid;
  margin: 15px;
  flex: 0;
}
