.tool-bar {
  position: fixed;
  top: 0;
  left: 18%;
  height: 60px;
  width: 64vw;
  background-color: rgba(25, 48, 21, 0.05);
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
  transition: 0.8s;
  z-index: 99;
}
.tool-bar::-webkit-scrollbar {
  display: none
}
@media screen and (min-width: 980px) {
  .tool-bar {
    justify-content: center;
  }
}
.icons {
  font-size: 15px;
  color: red;
  background-color: bisque;
  padding: 8px;
  border-radius: 50%;
  border: 3px white solid;
  margin: 15px;
  flex: 0;
  cursor: pointer;
}
#fileElem {
  display: none;
}
.barrage {
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  outline: none;
  transition: box-shadow 0.4s;
}
.barrage:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}